.piloto-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.box-piloto {
    border-radius: 8px;
    margin-right: 15px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgb(128, 126, 126);
}

.imagem-piloto {
    width: 100%;
    border-radius: 8px;
}

.box-piloto h2 {
    margin-top: 0;
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
}

.box-piloto p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
}
