h1 {
    margin-top: 50px;
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

form {

    width: 300px;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    color: #6c757d;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}